.snap-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
}

.snap-start {
  scroll-snap-align: start;
}
.element::-webkit-scrollbar {
  display: none;
}
